* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
}

.slider {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.slider .image-container {
	position: absolute;
	inset: 0 0 0 0;
}

.slider .image-container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.slider .image-container .content {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 10%;
	left: 50%;
	width: 80%;
	transform: translateX(-50%);
	padding: 0 20px 0 0;
	color: #fff;
	text-shadow: 0 5px 10px rgb(0, 0, 0);
	font-size: 1.5rem;
	background-color: #0002;
	padding: 10px 20px;
	border-radius: 10px;
	transition: 0.5s ease-in-out;
}

.slider .image-container .content:hover {
	background-color: #0007;
}

.slider .image-container .content p {
	font-size: 1.2rem;
}

.thumbnails {
	position: absolute;
	bottom: 50px;
	left: 50%;
	width: max-content;
	z-index: 99;
	display: flex;
	gap: 20px;
}

.thumbnails .thumbnail-image {
	width: 75px;
	height: 110px;
	flex-shrink: 0;
	position: relative;
}

.thumbnails .thumbnail-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.navigation-buttons {
	z-index: 99;
	position: absolute;
	top: 50%;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: 50%;
}

.navigation-buttons #prev,
.navigation-buttons #next {
	background-color: #ffffff50;
	font-size: larger;
	padding: 5px 10px;
	border: none;
	border-radius: 50%;
	transition: 0.3s ease-in-out;
	cursor: pointer;
}

.navigation-buttons #prev:hover,
.navigation-buttons #next:hover {
	background-color: #fff;
}
