@import url("https://fonts.googleapis.com/css2?family=Besley:wght@400;500&family=Honk&family=Nabla&family=Noto+Sans+KR:wght@100;300&family=Roboto:wght@300&family=Rokkitt:wght@200&display=swap");
@import url("https://fonts.cdnfonts.com/css/the-amazing-spider-man");

@font-face {
	font-family: "GOW";
	src: url("font/GODOFWAR.ttf") format("woff2");
}
@font-face {
	font-family: "League";
	src: url("font/League.otf") format("woff2");
}
@font-face {
	font-family: "rdr";
	src: url("font/rdr.TTF") format("woff2");
}
@font-face {
	font-family: "witcher";
	src: url("font/witcher.ttf") format("woff2");
}

@font-face {
	font-family: "gta";
	src: url("font/gta.ttf") format("woff2");
}

@font-face {
	font-family: "cyberpunk";
	src: url("font/Cyberpunk.ttf") format("woff2");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	overflow: hidden;
}

.slider {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.slider .image-container {
	position: absolute;
	inset: 0 0 0 0;
}

.slider .image-container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.slider .image-container .content {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 10%;
	left: 10%;
	width: 80%;
	color: #fff;
	text-shadow: 0 5px 10px rgb(0, 0, 0);
	background-color: #0002;
	padding: 30px 20px;
	border-radius: 10px;
	transform: translateY(75px);
	filter: blur(20px);
	opacity: 0;
	animation: show 1s linear 1 forwards;
}

@keyframes show {
	to {
		opacity: 1;
		filter: blur(0);
		transform: translateY(0);
	}
}

.slider .image-container .content:hover {
	background-color: #0007;
	transition: 0.5s ease-in-out;
}

.slider .image-container .content h3 {
	transition: 1.2s ease-in-out;
	font-size: 1.5rem;
	margin: 0 auto 15px;
}
.slider .image-container .content p {
	transition: 1.4s ease-in-out;
	font-size: 1.2rem;
}

.thumbnails {
	position: absolute;
	bottom: 50px;
	left: 50%;
	width: max-content;
	z-index: 99;
	display: flex;
	gap: 20px;
}

.thumbnails .thumbnail-image {
	width: 75px;
	height: 110px;
	flex-shrink: 0;
	position: relative;
	overflow: hidden;
	border-radius: 10px;
}

.thumbnails .thumbnail-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.navigation-buttons {
	z-index: 99;
	position: absolute;
	top: 50%;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: 50%;
}

.navigation-buttons #prev,
.navigation-buttons #next {
	background-color: #ffffff50;
	font-size: larger;
	padding: 5px 10px;
	border: none;
	border-radius: 50%;
	transition: 0.3s ease-in-out;
	cursor: pointer;
}

.navigation-buttons #prev:hover,
.navigation-buttons #next:hover {
	background-color: #fff;
}

.slider .image-container:nth-child(1) {
	z-index: 1;
}

#cyberpunk {
	font-family: "cyberpunk";
	color: rgb(184, 223, 106);
}

#league {
	font-family: "League";
}

#rdr {
	font-family: "rdr";
}

#spider-man {
	font-family: "THE AMAZING SPIDER-MAN", sans-serif;
}

#witcher {
	font-family: "witcher";
}

#gow {
	font-family: "GOW";
}

#gta {
	font-family: "gta";
	font-size: 4rem;
	color: rgb(211, 206, 199);
	letter-spacing: 3px;
	text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
}

